# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.env/
.venv/

# Environment Variables
.env

# Logs
logs/
*.log

# IDE
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Python Packaging
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Power BI Auto Recovery
*.pbix.autorecovery

# Temporary Files
*.tmp
*.temp